{erl_opts, [debug_info]}.
{deps, []}.

{relx, [
    {release, {world, "0.1.0"}, [chat, storage, sasl], [{vm_args, "./config/vm.world.args"}, {sys_config, "./config/sys.world.config"}]},

    {release, {chat, "0.1.0"}, [chat, sasl], [{vm_args, "./config/vm.chat.args"}, {sys_config, "./config/sys.chat.config"}]},

    {release, {storage, "0.1.0"}, [storage, sasl], [{vm_args, "./config/vm.storage.args"}, {sys_config, "./config/sys.storage.config"}]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]
}.

{profiles, [
    {prod, [
        {relx, [{dev_mode, false},
        {include_erts, true}]}
    ]}
]}.
